@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cafe24SsurroundAir';
}

.todo-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    margin-top: 4rem;
}

.title {
    background: #22b8cf;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    color: white;
}

.palette-wrapper {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    background: #eeeeee;
}

.form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
}

.todos-wrapper {
    min-height: 5rem;
}