.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #f1f3f5;
}

.todo-item:hover {
    background: #e3fafc;
}

.remove {
    margin-right: 1rem;
    color: #e64980;
    font-weight: 900;
    opacity: 0;
}

.todo-item:hover .remove {
    opacity: 1;
}

.todo-text {
    flex: 1;
    word-wrap: break-all;
}

.checked {
    text-decoration: line-through;
}